<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLAY TRADITIONAL GAME</title>
    <link rel="stylesheet" href="/stylesheet/project-4.css">
    <link rel="shortcut icon" href="assets/icon.ico" type="image/x-icon">
</head>


<body>
    <div class="background">
        <h2>ROCK PAPER SCISSORS</h2>
        <div id="value" class="info">
            <div class="result">
                <h1></h1>
            </div>
            <div id="versus" class="vs">
                <h1>VS</h1>
            </div>
        </div>

    </div>
    <div id="player1" class="player">
        <h4>PLAYER 1</h4>
        <button id="rock-player" class="rock">
            <img width="92" height="72" src="assets/batu.png" />
        </button>
        <button id="paper-player" class="paper">
            <img width="92" height="92" src="assets/kertas.png" />
        </button>
        <button id="scissors-player" class="scissors">
            <img width="92" height="92" src="assets/gunting.png" />
        </button>

    </div>
    <div id="com" class="com">
        <h4>COM</h4>
        <div id="rock" class="rock-com">
            <img width="92" height="72" src="assets/batu.png" />
        </div>
        <div id="paper" class="paper-com">
            <img width="92" height="92" src="assets/kertas.png" />
        </div>
        <div id="scissors" class="scissors-com">
            <img width="92" height="92" src="assets/gunting.png" />
        </div>
    </div>
    <div class="img">

    </div>
    <a href='/home'>
        <div class="img-1"></div>
    </a>

    </div>
    <button id="refresh-all" class="refresh" onclick="window.location.reload();">
        <img width="42" height="42" src="assets/refresh.png" />

    </button>
    </div>
    <script src="/script/project-4.js" type="text/javascript"></script>
</body>

</html>