<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLAY TRADITIONAL GAME</title>
    <link rel="stylesheet" href="/stylesheet/project.css">
    <link rel="shortcut icon" href="/assets/icon.ico" type="image/x-icon">
</head>
<style>

</style>

<!-- Project latihan di Challenge 3 ini masih jauh dari kata sempurna, mohon maaf bila ada beberapa 
tata letak dan model yang tidak sesuai dengan yang seharusnya. masukan dan saran sangat saya perlukan 
untuk memperbaiki beberapa hal yang tidak sesuai. Trimakasih, salam hangat. --Galih -- -->

<body>
    <!-- FIRST LAYOUT-->
    <div class="mainbackground">
        <div class="menu">
            <ul>
                <div class="heading">
                    <a href="#">LOGO</a>
                </div>
                <li><a href="#">HOME</a></li>
                <li><a href="#">WORK</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">ABOUT ME</a></li>
                <li class="sign"><a href="#">SIGN UP</a></li>
                <li class="sign"><a href="#">LOGIN</a></li>
            </ul>
        </div>

        <div class="text-container">
            <h1>PLAY TRADITIONAL GAME</h1>
        </div>
        <div class="text-center">
            <h4>Experience New Traditional Game</h4>
        </div>
        <div class="play">
            <a href="/game"><button>PLAY NOW</button></a>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center;" class="story">
            <h8>THE STORY</h8>
            <svg xmlns="/assets" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                    <path
                        d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
                </svg>
        </div>
    </div>

    <!-- SECOND LAYOUT-->
    <div class="thegame">
        <div class="question">
            <h4>What's so special?</h4>
        </div>
        <div class="game">
            <h1>THE GAMES</h1>
        </div>
        <div class="picture">
            <img src="/assets/rockpaperstrategy-1600.jpg">
        </div>
        <div class="switchl"></div>
        <div class="switchr"></div>
        <div class="small">
            <ul>
                <div class="cw"></div>
                <div class="cn"></div>
                <div class="cn"></div>
                <div class="cn"></div>
                <div class="cn"></div>
            </ul>
        </div>

    </div>
    </div>

    <!-- THIRD LAYOUT-->
    <div class="features">
        <div class="question1">
            <h3>Who's so special?</h3>
        </div>
        <div class="feature">
            <h1>FEATURES</h1>
        </div>
        <div class="option1">
            <p>TRADITIONAL GAME</p>
        </div>
        <div class="text">
            <p>if you miss your childhood, we profide many traditional game here.</p>
        </div>
        <div class="option2">
            <p>GAME SUIT</p>
        </div>
        <div class="option3">
            <p>TBD</p>
        </div>
        <div class="smalld">
            <ul>
                <div class="ca"></div>
                <div class="cb"></div>
                <div class="cc"></div>

            </ul>
        </div>
        <div class="line"></div>

    </div>

    <!-- FOURTH LAYOUT-->
    <div class="main">
        <div div class="shadow">
            <p>Can My Computer run this game?</p>
            <h1>SYSTEM REQUIREMENT</h1>
            <div class="spec">
                <div class="os">
                    <h4>OS:</h4>
                    <h6>Windows 7 64-bit Only</h6>
                    <h6>(No OSX support at this time)</h6>
                </div>
                <div class="processor">
                    <h4>PROCESSOR:</h4>
                    <h6>Intelcore 2 Duo @ 24 Ghz or</h6>
                    <h6>AMD Athlon X2 @ 2.8 Ghz</h6>
                </div>
                <div class="memory">
                    <h4>MEMORY:</h4>
                    <h6>4GB RAM</h6>
                </div>
                <div class="storage">
                    <h4>storage:</h4>
                    <h6>8GB Available Space</h6>
                </div>
                <div class="graphic">
                    <h4>GRAPHICS:</h4>
                    <h6>NVIDIA GeForce GTX 660 2GB or</h6>
                    <h6>AMD Radeon HD 7850 2GB DIRECTX11 (Shader Model 5)</h6>
                </div>
            </div>
        </div>
    </div>

    <!--FIFTH LAYOUT-->
    <div class="topscore">
        <h1>TOP SCORE</h1>
        <text>This top score from various games provided on this platform</text>
        <div class="button"><button>see more</button></div>
        <div class="comment1">
            <div class="elips"></div>
            <h4>Evan Lahti</h4>
            <h5>PC Gamer</h5>
            <h6>"One of my gaming highlights of the year."</h6>
            <p>June, 18. 2021</p>
            <div class="pic1"></div>
            <div class="pic2"></div>
        </div>
        <div class="comment2">
            <h4>Jada Griffin</h4>
            <h5>Nerdreactor</h5>
            <h6>"The next big thing in the world of streaming and survival games."</h6>
            <p>Juli, 10. 2021</p>
            <div class="pic3"></div>
            <div class="pic4"></div>
        </div>
        <div class="comment3">
            <h4>Aaron William</h4>
            <h5>Uproxx</h5>
            <h6>"Snoop Dogg Playing The Wildly Entertaining 'SOS' is Ridicolous."</h6>
            <p>Juli, 10. 2021</p>
            <div class="pic5"></div>
            <div class="pic6"></div>
        </div>

    </div>

    <!--SIX LAYOUT-->
    <div class="last">
        <h3>Want to stay in touch?</h3>
        <h1>NEWSLETTER SUBSCRIBE</h1>
        <p>In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
        <div class="bg">
            <div class="shad"></div>
        </div>
        <div class="button">
            <button>Subscribe Now</button>
        </div>
        <div class="email">
            <h4>Your email address</h4>
            <text>youremail@binar.co.id</text>
        </div>
        <div class="bottom">
            <ul>
                <li><a href="#">MAIN</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">GAME FEATURES</a></li>
                <li><a href="#">SYSTEM REQUIREMENTS</a></li>
                <li><a href="#">QUOTES</a></li>
                <div class="picmenu">
                    <div class="facebook">
                    </div>
                    <div class="twitter">
                    </div>
                    <div class="youtube">
                    </div>
                    <div class="bbm">
                    </div>
                </div>
            </ul>
            <div class="copy">
                <texta> © 2018 Your Games, Inc. All Rights Reserved</texta>
            </div>
            <div class="c">
                <textb>PRIVACY POLICY | TERM OD SERVICES | CODE OF CONDUCT </textb>
            </div>
        </div>
    </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</html>